
$breakpoint-tablet:1100px;
$breakpoint-mobile:768px;

$Space: #222222;
$Teal: #114E60;
$Sky:#325288;
$Mint:#F4FEF3;
$Peach: #F5CEBE;
$Blush:#F4EEE8;
$White:#ffffff;

.bg-mint{
    background-color: $Mint;
}